@font-face {
    font-family: 'line-32-arrows';
    src:    url('fonts/line-32-arrows.eot?224jmb');
    src:    url('fonts/line-32-arrows.eot?224jmb#iefix') format('embedded-opentype'),
        url('fonts/line-32-arrows.woff2?224jmb') format('woff2'),
        url('fonts/line-32-arrows.ttf?224jmb') format('truetype'),
        url('fonts/line-32-arrows.woff?224jmb') format('woff'),
        url('fonts/line-32-arrows.svg?224jmb#line-32-arrows') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'line-32-arrows' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arr-3-rotate:before {
    content: "\e900";
}
.icon-arr-4-rotate:before {
    content: "\e901";
}
.icon-arr-axis-angle-rotate:before {
    content: "\e902";
}
.icon-arr-axis-angle:before {
    content: "\e903";
}
.icon-arr-axis-rotate:before {
    content: "\e904";
}
.icon-arr-axis:before {
    content: "\e905";
}
.icon-arr-bend:before {
    content: "\e906";
}
.icon-arr-converge-2:before {
    content: "\e907";
}
.icon-arr-converge-3:before {
    content: "\e908";
}
.icon-arr-converge:before {
    content: "\e909";
}
.icon-arr-cross:before {
    content: "\e90a";
}
.icon-arr-diagonal-2:before {
    content: "\e90b";
}
.icon-arr-diagonal:before {
    content: "\e90c";
}
.icon-arr-diverge-3:before {
    content: "\e90d";
}
.icon-arr-download:before {
    content: "\e90e";
}
.icon-arr-elipse-angle:before {
    content: "\e90f";
}
.icon-arr-elipse:before {
    content: "\e910";
}
.icon-arr-ellipse-angle-rotate:before {
    content: "\e911";
}
.icon-arr-ellipse-rotate:before {
    content: "\e912";
}
.icon-arr-first-exit:before {
    content: "\e913";
}
.icon-arr-forward-arrow:before {
    content: "\e914";
}
.icon-arr-fourth-exit:before {
    content: "\e915";
}
.icon-arr-horizontal-2:before {
    content: "\e916";
}
.icon-arr-horizontal-arrows:before {
    content: "\e917";
}
.icon-arr-horizontal:before {
    content: "\e918";
}
.icon-arr-in-2:before {
    content: "\e919";
}
.icon-arr-in-3:before {
    content: "\e91a";
}
.icon-arr-in-angle:before {
    content: "\e91b";
}
.icon-arr-in:before {
    content: "\e91c";
}
.icon-arr-jagged:before {
    content: "\e91d";
}
.icon-arr-loop:before {
    content: "\e91e";
}
.icon-arr-out-2:before {
    content: "\e91f";
}
.icon-arr-out:before {
    content: "\e920";
}
.icon-arr-point-angle:before {
    content: "\e921";
}
.icon-arr-point:before {
    content: "\e922";
}
.icon-arr-redo-arrow:before {
    content: "\e923";
}
.icon-arr-repeat:before {
    content: "\e924";
}
.icon-arr-reset:before {
    content: "\e925";
}
.icon-arr-reverse-arrow:before {
    content: "\e926";
}
.icon-arr-rotate:before {
    content: "\e927";
}
.icon-arr-round-out:before {
    content: "\e928";
}
.icon-arr-second-exit:before {
    content: "\e929";
}
.icon-arr-shuffle:before {
    content: "\e92a";
}
.icon-arr-spiral:before {
    content: "\e92b";
}
.icon-arr-split-2:before {
    content: "\e92c";
}
.icon-arr-split:before {
    content: "\e92d";
}
.icon-arr-stagger:before {
    content: "\e92e";
}
.icon-arr-syncing:before {
    content: "\e92f";
}
.icon-arr-third-exit:before {
    content: "\e930";
}
.icon-arr-turn-in:before {
    content: "\e931";
}
.icon-arr-turn-off:before {
    content: "\e932";
}
.icon-arr-undo-arrow:before {
    content: "\e933";
}
.icon-arr-upload:before {
    content: "\e934";
}
.icon-arr-vertical-2:before {
    content: "\e935";
}
.icon-arr-vertical-arrows:before {
    content: "\e936";
}
.icon-arr-vertical:before {
    content: "\e937";
}
.icon-arr-wiggle:before {
    content: "\e938";
}

