@font-face {
    font-family: 'line-32-computers';
    src:    url('fonts/line-32-computers.eot?m63ady');
    src:    url('fonts/line-32-computers.eot?m63ady#iefix') format('embedded-opentype'),
        url('fonts/line-32-computers.woff2?m63ady') format('woff2'),
        url('fonts/line-32-computers.ttf?m63ady') format('truetype'),
        url('fonts/line-32-computers.woff?m63ady') format('woff'),
        url('fonts/line-32-computers.svg?m63ady#line-32-computers') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'line-32-computers' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-com-10:before {
    content: "\e900";
}
.icon-com-airport:before {
    content: "\e901";
}
.icon-com-apple-cable:before {
    content: "\e902";
}
.icon-com-apple-tv:before {
    content: "\e903";
}
.icon-com-book-code:before {
    content: "\e904";
}
.icon-com-bug:before {
    content: "\e905";
}
.icon-com-camera-2:before {
    content: "\e906";
}
.icon-com-camera:before {
    content: "\e907";
}
.icon-com-card:before {
    content: "\e908";
}
.icon-com-cd:before {
    content: "\e909";
}
.icon-com-chip:before {
    content: "\e90a";
}
.icon-com-circuit-2:before {
    content: "\e90b";
}
.icon-com-circuit:before {
    content: "\e90c";
}
.icon-com-code:before {
    content: "\e90d";
}
.icon-com-computer-10:before {
    content: "\e90e";
}
.icon-com-cross:before {
    content: "\e90f";
}
.icon-com-cursor:before {
    content: "\e910";
}
.icon-com-disk:before {
    content: "\e911";
}
.icon-com-download:before {
    content: "\e912";
}
.icon-com-edit:before {
    content: "\e913";
}
.icon-com-hard-drive-external:before {
    content: "\e914";
}
.icon-com-joystick:before {
    content: "\e915";
}
.icon-com-keyboard-attach:before {
    content: "\e916";
}
.icon-com-keyboard-wireless:before {
    content: "\e917";
}
.icon-com-keyboard:before {
    content: "\e918";
}
.icon-com-laptop-2:before {
    content: "\e919";
}
.icon-com-laptop-10:before {
    content: "\e91a";
}
.icon-com-laptop-code:before {
    content: "\e91b";
}
.icon-com-laptop-connected:before {
    content: "\e91c";
}
.icon-com-laptop-web:before {
    content: "\e91d";
}
.icon-com-laptop:before {
    content: "\e91e";
}
.icon-com-lightning-cable:before {
    content: "\e91f";
}
.icon-com-mac-old:before {
    content: "\e920";
}
.icon-com-mac:before {
    content: "\e921";
}
.icon-com-minus:before {
    content: "\e922";
}
.icon-com-monitor:before {
    content: "\e923";
}
.icon-com-mouse-mac:before {
    content: "\e924";
}
.icon-com-mouse-wired:before {
    content: "\e925";
}
.icon-com-mouse-wireless-mac:before {
    content: "\e926";
}
.icon-com-mouse-wireless:before {
    content: "\e927";
}
.icon-com-plug-uk:before {
    content: "\e928";
}
.icon-com-plug:before {
    content: "\e929";
}
.icon-com-plus:before {
    content: "\e92a";
}
.icon-com-power:before {
    content: "\e92b";
}
.icon-com-printer:before {
    content: "\e92c";
}
.icon-com-protect:before {
    content: "\e92d";
}
.icon-com-ram:before {
    content: "\e92e";
}
.icon-com-router:before {
    content: "\e92f";
}
.icon-com-scanner:before {
    content: "\e930";
}
.icon-com-search:before {
    content: "\e931";
}
.icon-com-settings:before {
    content: "\e932";
}
.icon-com-shredder:before {
    content: "\e933";
}
.icon-com-socket-network:before {
    content: "\e934";
}
.icon-com-socket:before {
    content: "\e935";
}
.icon-com-ssd:before {
    content: "\e936";
}
.icon-com-tablet:before {
    content: "\e937";
}
.icon-com-tick:before {
    content: "\e938";
}
.icon-com-touchpad:before {
    content: "\e939";
}
.icon-com-tower:before {
    content: "\e93a";
}
.icon-com-upload:before {
    content: "\e93b";
}
.icon-com-usb-bluetooth:before {
    content: "\e93c";
}
.icon-com-usb-cable:before {
    content: "\e93d";
}
.icon-com-usb-power:before {
    content: "\e93e";
}
.icon-com-usb-stick-2:before {
    content: "\e93f";
}
.icon-com-usb-stick:before {
    content: "\e940";
}
.icon-com-usb:before {
    content: "\e941";
}
.icon-com-warning:before {
    content: "\e942";
}
.icon-com-window-10:before {
    content: "\e943";
}
.icon-com-window-script:before {
    content: "\e944";
}

